/* CSS Document */
html{
	overflow-x: hidden;
	
}

body{
        background: #222831;
    }
    #intro-h1{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 1300%;
        font-weight: 300;
    }
    #intro-h2{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 500%;
        font-weight: 300;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 8vmin;
        font-weight: 300;
/*        line-height:0vh;*/
    }
    
    h3{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 3vmin;
        line-height: 3vh;
        font-weight: 300;
    }
    h4{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 3vmin;
        line-height: 3vh;
        font-weight: 300;
    }
    p{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 2vmin;
        line-height: 2vh;
        font-weight: 300;
    }
    li{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 2vmin;
        font-weight: 300;
    }

    
    .background{
        background: #222831;
        width: 100%;
        height: 100%;
    }
    #rain{
        position:absolute;
        height:425vh;
        width:100%;
        top:0px;
        bottom:0px;
		z-index: -1;
		overflow: hidden
    }
    
    
    



   .drop0{
        left: 41%;
        position: absolute;
        animation-name:dropping0;
        animation-duration: 2.056442024938929s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping0{
        from{top:-79%}
        to{top: 100%}
        
    }




   .drop1{
        left: 99%;
        position: absolute;
        animation-name:dropping1;
        animation-duration: 2.950683092944544s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping1{
        from{top:-165%}
        to{top: 100%}
        
    }




   .drop2{
        left: 71%;
        position: absolute;
        animation-name:dropping2;
        animation-duration: 4.5894554653788795s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping2{
        from{top:-227%}
        to{top: 100%}
        
    }




   .drop3{
        left: 78%;
        position: absolute;
        animation-name:dropping3;
        animation-duration: 4.382284214628388s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping3{
        from{top:-156%}
        to{top: 100%}
        
    }




   .drop4{
        left: 61%;
        position: absolute;
        animation-name:dropping4;
        animation-duration: 3.8177599273895284s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping4{
        from{top:-88%}
        to{top: 100%}
        
    }




   .drop5{
        left: 59%;
        position: absolute;
        animation-name:dropping5;
        animation-duration: 5.83070556843671s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping5{
        from{top:-61%}
        to{top: 100%}
        
    }




   .drop6{
        left: 88%;
        position: absolute;
        animation-name:dropping6;
        animation-duration: 2.859315418160049s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping6{
        from{top:-145%}
        to{top: 100%}
        
    }




   .drop7{
        left: 97%;
        position: absolute;
        animation-name:dropping7;
        animation-duration: 4.8434522684889085s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping7{
        from{top:-228%}
        to{top: 100%}
        
    }




   .drop8{
        left: 61%;
        position: absolute;
        animation-name:dropping8;
        animation-duration: 5.629117342111359s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping8{
        from{top:-211%}
        to{top: 100%}
        
    }




   .drop9{
        left: 37%;
        position: absolute;
        animation-name:dropping9;
        animation-duration: 2.0175328409567883s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping9{
        from{top:-172%}
        to{top: 100%}
        
    }




   .drop10{
        left: 4%;
        position: absolute;
        animation-name:dropping10;
        animation-duration: 4.539578260724151s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping10{
        from{top:-75%}
        to{top: 100%}
        
    }




   .drop11{
        left: 56%;
        position: absolute;
        animation-name:dropping11;
        animation-duration: 4.453016587956027s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping11{
        from{top:-117%}
        to{top: 100%}
        
    }




   .drop12{
        left: 8%;
        position: absolute;
        animation-name:dropping12;
        animation-duration: 3.120747842557707s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping12{
        from{top:-44%}
        to{top: 100%}
        
    }




   .drop13{
        left: 29%;
        position: absolute;
        animation-name:dropping13;
        animation-duration: 3.365590604685274s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping13{
        from{top:-73%}
        to{top: 100%}
        
    }




   .drop14{
        left: 53%;
        position: absolute;
        animation-name:dropping14;
        animation-duration: 2.1975371150429552s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping14{
        from{top:-280%}
        to{top: 100%}
        
    }




   .drop15{
        left: 72%;
        position: absolute;
        animation-name:dropping15;
        animation-duration: 3.4300816776239933s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping15{
        from{top:-247%}
        to{top: 100%}
        
    }




   .drop16{
        left: 71%;
        position: absolute;
        animation-name:dropping16;
        animation-duration: 2.2930011810830075s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping16{
        from{top:-220%}
        to{top: 100%}
        
    }




   .drop17{
        left: 7%;
        position: absolute;
        animation-name:dropping17;
        animation-duration: 5.043900664254118s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping17{
        from{top:-227%}
        to{top: 100%}
        
    }




   .drop18{
        left: 33%;
        position: absolute;
        animation-name:dropping18;
        animation-duration: 4.019698972396391s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping18{
        from{top:-293%}
        to{top: 100%}
        
    }




   .drop19{
        left: 18%;
        position: absolute;
        animation-name:dropping19;
        animation-duration: 3.536875126451128s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping19{
        from{top:-132%}
        to{top: 100%}
        
    }




   .drop20{
        left: 43%;
        position: absolute;
        animation-name:dropping20;
        animation-duration: 2.9682894026432725s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping20{
        from{top:-29%}
        to{top: 100%}
        
    }




   .drop21{
        left: 72%;
        position: absolute;
        animation-name:dropping21;
        animation-duration: 3.0026879262490023s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping21{
        from{top:-192%}
        to{top: 100%}
        
    }




   .drop22{
        left: 38%;
        position: absolute;
        animation-name:dropping22;
        animation-duration: 3.738194001430595s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping22{
        from{top:-96%}
        to{top: 100%}
        
    }




   .drop23{
        left: 60%;
        position: absolute;
        animation-name:dropping23;
        animation-duration: 2.0968983214151993s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping23{
        from{top:-300%}
        to{top: 100%}
        
    }




   .drop24{
        left: 14%;
        position: absolute;
        animation-name:dropping24;
        animation-duration: 4.230436559512415s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping24{
        from{top:-209%}
        to{top: 100%}
        
    }




   .drop25{
        left: 28%;
        position: absolute;
        animation-name:dropping25;
        animation-duration: 3.7146291183467586s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping25{
        from{top:-82%}
        to{top: 100%}
        
    }




   .drop26{
        left: 23%;
        position: absolute;
        animation-name:dropping26;
        animation-duration: 2.848305738355833s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping26{
        from{top:-64%}
        to{top: 100%}
        
    }




   .drop27{
        left: 35%;
        position: absolute;
        animation-name:dropping27;
        animation-duration: 3.451823675257395s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping27{
        from{top:-132%}
        to{top: 100%}
        
    }




   .drop28{
        left: 95%;
        position: absolute;
        animation-name:dropping28;
        animation-duration: 4.6364071722363995s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping28{
        from{top:-239%}
        to{top: 100%}
        
    }




   .drop29{
        left: 24%;
        position: absolute;
        animation-name:dropping29;
        animation-duration: 5.562224806827389s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping29{
        from{top:-147%}
        to{top: 100%}
        
    }




   .drop30{
        left: 71%;
        position: absolute;
        animation-name:dropping30;
        animation-duration: 5.404822613875927s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping30{
        from{top:-138%}
        to{top: 100%}
        
    }




   .drop31{
        left: 44%;
        position: absolute;
        animation-name:dropping31;
        animation-duration: 3.697472458162673s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping31{
        from{top:-224%}
        to{top: 100%}
        
    }




   .drop32{
        left: 47%;
        position: absolute;
        animation-name:dropping32;
        animation-duration: 2.096278732786411s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping32{
        from{top:-256%}
        to{top: 100%}
        
    }




   .drop33{
        left: 55%;
        position: absolute;
        animation-name:dropping33;
        animation-duration: 5.5041236678646115s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping33{
        from{top:-93%}
        to{top: 100%}
        
    }




   .drop34{
        left: 33%;
        position: absolute;
        animation-name:dropping34;
        animation-duration: 2.3134920464872986s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping34{
        from{top:-127%}
        to{top: 100%}
        
    }




   .drop35{
        left: 7%;
        position: absolute;
        animation-name:dropping35;
        animation-duration: 4.831907449225039s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping35{
        from{top:-286%}
        to{top: 100%}
        
    }




   .drop36{
        left: 38%;
        position: absolute;
        animation-name:dropping36;
        animation-duration: 4.811517893394722s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping36{
        from{top:-241%}
        to{top: 100%}
        
    }




   .drop37{
        left: 28%;
        position: absolute;
        animation-name:dropping37;
        animation-duration: 5.994669553785354s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping37{
        from{top:-164%}
        to{top: 100%}
        
    }




   .drop38{
        left: 25%;
        position: absolute;
        animation-name:dropping38;
        animation-duration: 3.489804422957692s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping38{
        from{top:-159%}
        to{top: 100%}
        
    }




   .drop39{
        left: 10%;
        position: absolute;
        animation-name:dropping39;
        animation-duration: 5.407382623208164s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping39{
        from{top:-89%}
        to{top: 100%}
        
    }




   .drop40{
        left: 53%;
        position: absolute;
        animation-name:dropping40;
        animation-duration: 2.1287776274393875s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping40{
        from{top:-121%}
        to{top: 100%}
        
    }




   .drop41{
        left: 95%;
        position: absolute;
        animation-name:dropping41;
        animation-duration: 3.6988188354696687s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping41{
        from{top:-61%}
        to{top: 100%}
        
    }




   .drop42{
        left: 62%;
        position: absolute;
        animation-name:dropping42;
        animation-duration: 4.911084073073383s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping42{
        from{top:-115%}
        to{top: 100%}
        
    }




   .drop43{
        left: 90%;
        position: absolute;
        animation-name:dropping43;
        animation-duration: 5.73397969490042s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping43{
        from{top:-208%}
        to{top: 100%}
        
    }




   .drop44{
        left: 83%;
        position: absolute;
        animation-name:dropping44;
        animation-duration: 3.0968913354718817s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping44{
        from{top:-172%}
        to{top: 100%}
        
    }




   .drop45{
        left: 97%;
        position: absolute;
        animation-name:dropping45;
        animation-duration: 5.77126341850744s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping45{
        from{top:-53%}
        to{top: 100%}
        
    }




   .drop46{
        left: 50%;
        position: absolute;
        animation-name:dropping46;
        animation-duration: 2.606829885525816s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping46{
        from{top:-126%}
        to{top: 100%}
        
    }




   .drop47{
        left: 66%;
        position: absolute;
        animation-name:dropping47;
        animation-duration: 2.300102983864854s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping47{
        from{top:-8%}
        to{top: 100%}
        
    }




   .drop48{
        left: 46%;
        position: absolute;
        animation-name:dropping48;
        animation-duration: 4.210822732978355s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping48{
        from{top:-243%}
        to{top: 100%}
        
    }




   .drop49{
        left: 37%;
        position: absolute;
        animation-name:dropping49;
        animation-duration: 5.697336422603086s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping49{
        from{top:-201%}
        to{top: 100%}
        
    }




   .drop50{
        left: 21%;
        position: absolute;
        animation-name:dropping50;
        animation-duration: 3.8795404492163175s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping50{
        from{top:-29%}
        to{top: 100%}
        
    }




   .drop51{
        left: 1%;
        position: absolute;
        animation-name:dropping51;
        animation-duration: 5.723939996572934s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping51{
        from{top:-260%}
        to{top: 100%}
        
    }




   .drop52{
        left: 15%;
        position: absolute;
        animation-name:dropping52;
        animation-duration: 4.465862083649132s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping52{
        from{top:-63%}
        to{top: 100%}
        
    }




   .drop53{
        left: 4%;
        position: absolute;
        animation-name:dropping53;
        animation-duration: 4.793740753968816s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping53{
        from{top:-64%}
        to{top: 100%}
        
    }




   .drop54{
        left: 65%;
        position: absolute;
        animation-name:dropping54;
        animation-duration: 3.005585131519429s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping54{
        from{top:-199%}
        to{top: 100%}
        
    }




   .drop55{
        left: 35%;
        position: absolute;
        animation-name:dropping55;
        animation-duration: 4.669866026291011s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping55{
        from{top:-273%}
        to{top: 100%}
        
    }




   .drop56{
        left: 75%;
        position: absolute;
        animation-name:dropping56;
        animation-duration: 3.706669895755019s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping56{
        from{top:-73%}
        to{top: 100%}
        
    }




   .drop57{
        left: 93%;
        position: absolute;
        animation-name:dropping57;
        animation-duration: 2.34908682947223s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping57{
        from{top:-237%}
        to{top: 100%}
        
    }




   .drop58{
        left: 37%;
        position: absolute;
        animation-name:dropping58;
        animation-duration: 3.3017883158693073s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping58{
        from{top:-248%}
        to{top: 100%}
        
    }




   .drop59{
        left: 44%;
        position: absolute;
        animation-name:dropping59;
        animation-duration: 5.80653199099708s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping59{
        from{top:-150%}
        to{top: 100%}
        
    }




   .drop60{
        left: 13%;
        position: absolute;
        animation-name:dropping60;
        animation-duration: 3.8991721759600577s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping60{
        from{top:-276%}
        to{top: 100%}
        
    }




   .drop61{
        left: 62%;
        position: absolute;
        animation-name:dropping61;
        animation-duration: 5.261510249605155s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping61{
        from{top:-252%}
        to{top: 100%}
        
    }




   .drop62{
        left: 76%;
        position: absolute;
        animation-name:dropping62;
        animation-duration: 5.510520704775079s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping62{
        from{top:-23%}
        to{top: 100%}
        
    }




   .drop63{
        left: 76%;
        position: absolute;
        animation-name:dropping63;
        animation-duration: 4.191514707539049s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping63{
        from{top:-216%}
        to{top: 100%}
        
    }




   .drop64{
        left: 93%;
        position: absolute;
        animation-name:dropping64;
        animation-duration: 5.581252603851965s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping64{
        from{top:-112%}
        to{top: 100%}
        
    }




   .drop65{
        left: 58%;
        position: absolute;
        animation-name:dropping65;
        animation-duration: 3.2406434122674126s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping65{
        from{top:-214%}
        to{top: 100%}
        
    }




   .drop66{
        left: 9%;
        position: absolute;
        animation-name:dropping66;
        animation-duration: 5.575086254238025s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping66{
        from{top:-216%}
        to{top: 100%}
        
    }




   .drop67{
        left: 20%;
        position: absolute;
        animation-name:dropping67;
        animation-duration: 4.114756294330266s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping67{
        from{top:-259%}
        to{top: 100%}
        
    }




   .drop68{
        left: 17%;
        position: absolute;
        animation-name:dropping68;
        animation-duration: 2.109826978794403s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping68{
        from{top:-197%}
        to{top: 100%}
        
    }




   .drop69{
        left: 45%;
        position: absolute;
        animation-name:dropping69;
        animation-duration: 5.266363728974442s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping69{
        from{top:-269%}
        to{top: 100%}
        
    }




   .drop70{
        left: 4%;
        position: absolute;
        animation-name:dropping70;
        animation-duration: 4.555201502422305s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping70{
        from{top:-30%}
        to{top: 100%}
        
    }




   .drop71{
        left: 99%;
        position: absolute;
        animation-name:dropping71;
        animation-duration: 4.518172840496293s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping71{
        from{top:-40%}
        to{top: 100%}
        
    }




   .drop72{
        left: 66%;
        position: absolute;
        animation-name:dropping72;
        animation-duration: 3.907243385847958s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping72{
        from{top:-14%}
        to{top: 100%}
        
    }




   .drop73{
        left: 52%;
        position: absolute;
        animation-name:dropping73;
        animation-duration: 2.107128312453007s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping73{
        from{top:-8%}
        to{top: 100%}
        
    }




   .drop74{
        left: 38%;
        position: absolute;
        animation-name:dropping74;
        animation-duration: 5.706197515824629s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        
        
    }
    @keyframes dropping74{
        from{top:-217%}
        to{top: 100%}
        
    }
    
    
    #introduction{
        text-align:center;
        margin-top: 50vmin;
        animation-name: introFade;
        animation-delay: 1s;
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        opacity: 0;
        
    }
    
    #introduction-text2{
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        font-size: 500%;
        font-weight: 300;
    }
    
    @keyframes introFade{
        from{opacity: 0}
        to{opacity: 1}
        
    }
    
    .school-img{
        width: auto;
    }
    .section-block{
        margin-left: 10%;
        margin-right: 10%;
        background-color:rgba(57, 62, 70, 0.5);
        padding:1%; 
    }





    
    .drop-image{
        background:linear-gradient(#393e46, #00adb5 );
        width: 3px;
        height: 75px;
    }
    
    .dot {
      height: 75%;
      width: 75%;
      background-color: #FFFFFF;
      border-radius: 50%;
    display: flex;justify-content: center;
        
    }
    
    #centre-dot{
      height: 10px;
      width: 10px;
      background-color: #000000;
      border-radius: 50%;
        display: flex;justify-content: center;
    }
    
    
        
     #minute-hand{
         position:absolute;
         height:19%;
         width:1%;
         background-color: #000;
         transform-origin: bottom;
         animation-name: rotateAni;
         animation-duration: 1s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
         
            
    }
    
    
    #hour-hand{
        position:absolute;
        width:100%;
        height:70%;
        top:100%;
         background-color: #000;
         animation-name: rotateAni;
         transform-origin: top;

         animation-duration: 1.083333333333333333s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
        animation-direction: reverse;
            z-index: 1;
    }
    
    @keyframes rotateAni{
        0%{ 
            transform: rotate(0deg);
        }
        25%{
            transform: rotate(90deg);
        }
        50%{
            transform: rotate(180deg);
        }
        75%{
            transform: rotate(270deg);
        }
        100%{
            transform: rotate(359deg);
        }
    }
.section-image-cell {
	width : 15vmin;
	padding-left:1%;
	padding-right:1.2%;
}

.section-image {
	width:100%;
	margin-right : 30%
}

.section-block-title {
	
}

.section-block-title {
	text-align: center;
	font-size: 4vmin;
}

.center-flex {
	display:flex;
	justify-content: center;
	align-items: center; 
	align-content: center;
}

.section-courses-cell {
	text-align : left;
	line-height: 0.5vh;
	vertical-align: top;
}

.buffer-block {
	height:5vmin;
}
